.navbar6-wrapper {
  display: contents;
}
 
.navbar6-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 100;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
 
.navbar6-navlink1 {
  display: contents;
}
 
.navbar6-image {
  height: 50px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar6-links1 {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar6-link11 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link21 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link31 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link41 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link42 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-burger-menu {
  display: none;
}
 
.navbar6-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(102, 85, 58);
}
 
.navbar6-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar6-navlink2 {
  display: contents;
}
 
.navbar6-logo {
  height: 3rem;
  text-decoration: none;
}
 
.navbar6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar6-icon12 {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.navbar6-links2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar6-link12 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link22 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link32 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link43 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link44 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.navbar6-icon14 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon16 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon18 {
  height: var(--dl-size-size-xsmall);
}
 
.contact-fragment14 {
  display: contents;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-fragment12 {
  display: contents;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-fragment13 {
  display: contents;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-fragment11 {
  display: contents;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-fragment10 {
  display: contents;
}
 
.contact-text10 {
  display: inline-block;
}
 
.navbar6root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name2 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/About/5_hero-200h.png");
}
 
.navbar6root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name4 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
}
 
.navbar6root-class-name5 {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
 
@media(max-width: 991px) {
  .navbar6-link11 {
    font-size: 23px;
  }
  .navbar6-link21 {
    font-size: 23px;
  }
  .navbar6-link31 {
    font-size: 23px;
  }
  .navbar6-link41 {
    font-size: 23px;
  }
  .navbar6-link42 {
    font-size: 23px;
  }
}
 
@media(max-width: 767px) {
  .navbar6-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar6-desktop-menu {
    display: none;
  }
  .navbar6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar6-icon10 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
 
@media(max-width: 479px) {
  .navbar6-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-icon10 {
    fill: #ffffff;
  }
  .navbar6-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-link12 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link22 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link32 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link43 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link44 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6root-class-name2 {
    position: relative;
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/About/5_hero-200h.png");
    background-position: top right;
  }
  .navbar6root-class-name3 {
    position: static;
    background-color: #000000;
  }
  .navbar6root-class-name4 {
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
  }
  .navbar6root-class-name5 {
    position: relative;
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-1500w.png");
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/ImageStructures/Home/8_footerbg-1500w.png");
}
 
.footer-image {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
 
.footer-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-bottom-width: 3px;
}
 
.footer-navlink1 {
  display: contents;
}
 
.footer-text10 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink2 {
  display: contents;
}
 
.footer-text11 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink3 {
  display: contents;
}
 
.footer-text12 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink4 {
  display: contents;
}
 
.footer-text13 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink5 {
  display: contents;
}
 
.footer-text14 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink6 {
  display: contents;
}
 
.footer-text15 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 1.5px black,  /* Right */   -0.5px 0px 1.5px black, /* Left */   0px 0.5px 1.5px black,  /* Bottom */   0px -0.5px 1.5px black; /* Top */;
  text-decoration: none;
}
 
.footer-text16 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Anton";
  font-weight: 400;
}
 
.contact-fragment19 {
  display: contents;
}
 
.contact-text42 {
  display: inline-block;
}
 
.contact-fragment18 {
  display: contents;
}
 
.contact-text41 {
  display: inline-block;
}
 
.contact-fragment16 {
  display: contents;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-fragment17 {
  display: contents;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-fragment21 {
  display: contents;
}
 
.contact-text44 {
  display: inline-block;
}
 
.contact-fragment15 {
  display: contents;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-fragment20 {
  display: contents;
}
 
.contact-text43 {
  display: inline-block;
}
 
.footerroot-class-name {
  left: 0px;
  bottom: 0px;
  position: relative;
}
 

 

 

 

 

 
@media(max-width: 991px) {
  .footer-container2 {
    gap: var(--dl-space-space-unit);
  }
  .footer-text10 {
    font-size: 3vw;
  }
  .footer-text11 {
    font-size: 3vw;
  }
  .footer-text12 {
    font-size: 3vw;
  }
  .footer-text13 {
    font-size: 3vw;
  }
  .footer-text14 {
    font-size: 3vw;
  }
  .footer-text15 {
    font-size: 3vw;
  }
}
 
@media(max-width: 767px) {
  .footer-container2 {
    gap: var(--dl-space-space-halfunit);
    width: 70%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .footer-text10 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text11 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text12 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text14 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text15 {
    font-size: 25px;
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .footer-container1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .footer-container2 {
    width: 80%;
    align-self: center;
  }
  .footer-text10 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text11 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text12 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text14 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text15 {
    font-size: 23px;
    text-align: center;
  }
}

.contact-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/ImageStructures/Contact/13-1500w.png");
}
 
.contact-container11 {
  width: 100%;
  display: flex;
  z-index: 10;
  align-items: center;
  flex-direction: column;
}
 
.contact-fragment10 {
  display: contents;
}
 
.contact-text10 {
  display: inline-block;
}
 
.contact-fragment11 {
  display: contents;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-fragment12 {
  display: contents;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-fragment13 {
  display: contents;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-fragment14 {
  display: contents;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-container12 {
  width: 100%;
  height: 20vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/ImageStructures/CommunitySessions/3_eventsbackground-1500w.png");
}
 
.contact-text15 {
  fill: #66553a;
  color: #66553a;
  width: 100%;
  font-size: 9vw;
  text-align: center;
  font-family: "Anton";
}
 
.contact-container13 {
  width: 100%;
  display: none;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
}
 
.contact-container14 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-container15 {
  gap: var(--dl-space-space-twounits);
  width: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text16 {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Now-Medium";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.contact-text17 {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Now-Medium";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.contact-text18 {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Now-Medium";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.contact-text20 {
  text-decoration: underline;
}
 
.contact-container16 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.contact-text21 {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Now-Medium";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.contact-icon10 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 7vw;
  height: 7vw;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
}
 
.contact-text22 {
  color: #ffffff;
  font-size: 4vw;
  font-family: "Now-Medium";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.contact-form {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: 20vw;
  flex-direction: column;
  justify-content: center;
}
 
.contact-container17 {
  gap: var(--dl-space-space-fiveunits);
  width: 70%;
  display: flex;
  justify-content: center;
}
 
.contact-container18 {
  width: 45%;
  display: flex;
  flex-direction: column;
}
 
.contact-text23 {
  color: rgb(255, 255, 255);
  height: 25px;
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-textinput1 {
  width: 100%;
  height: 40px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: rgba(235, 235, 235, 0.59);
}
 
.contact-container19 {
  width: 45%;
  display: flex;
  flex-direction: column;
}
 
.contact-text24 {
  color: rgb(255, 255, 255);
  height: 25px;
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-textinput2 {
  width: 100%;
  height: 40px;
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: rgba(235, 235, 235, 0.59);
}
 
.contact-container20 {
  width: 70%;
  display: flex;
  flex-direction: column;
}
 
.contact-text25 {
  color: rgb(255, 255, 255);
  height: 25px;
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-textarea {
  height: 150px;
  background-color: rgba(235, 235, 235, 0.59);
}
 
.contact-button {
  color: rgb(255, 255, 255);
  width: 70%;
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  font-family: "Anton";
  border-radius: var(--dl-radius-radius-buttonradius);
  background-color: rgb(102, 85, 58);
}
 
.contact-container21 {
  left: 0px;
  width: 100%;
  bottom: 20vw;
  height: 356px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-slider {
  width: 500px;
  height: 300px;
  display: none;
}
 
.contact-slider-slide1 {
  display: flex ;
}
 
.contact-container22 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container23 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon14 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container24 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text26 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text27 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-slider-slide2 {
  display: flex ;
}
 
.contact-container25 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container26 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon16 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container27 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text28 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text29 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-slider-slide3 {
  display: flex ;
}
 
.contact-container28 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container29 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon18 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container30 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text30 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text31 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-slider-pagination {
  display: none;
}
 
.contact-slider-button-prev {
  display: block;
}
 
.contact-slider-button-next {
  display: block;
}
 
.contact-container31 {
  display: flex;
  z-index: 2;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact-container32 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container33 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon20 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container34 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text32 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text33 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-container35 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container36 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon22 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container37 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text34 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text35 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-container38 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
 
.contact-container39 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(203, 203, 190) 0.00%,rgb(210, 138, 96) 99.00%);
}
 
.contact-icon24 {
  fill: var(--dl-color-theme-neutral-dark);
  color: #ffffff;
  width: 70px;
  height: 70px;
}
 
.contact-container40 {
  gap: var(--dl-space-space-unit);
  width: var(--dl-size-size-xxlarge);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-text36 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 40px;
  font-family: "Anton";
}
 
.contact-text37 {
  fill: #66553a;
  color: rgb(102, 85, 58);
  font-size: 20px;
  font-family: "Anton";
}
 
.contact-image {
  top: 0px;
  left: 0px;
  width: 100%;
  position: absolute;
  object-fit: cover;
}
 
.contact-fragment15 {
  display: contents;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-fragment16 {
  display: contents;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-fragment17 {
  display: contents;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-fragment18 {
  display: contents;
}
 
.contact-text41 {
  display: inline-block;
}
 
.contact-fragment19 {
  display: contents;
}
 
.contact-text42 {
  display: inline-block;
}
 
.contact-fragment20 {
  display: contents;
}
 
.contact-text43 {
  display: inline-block;
}
 
.contact-fragment21 {
  display: contents;
}
 
.contact-text44 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact-container10 {
    justify-content: space-between;
  }
  .contact-container21 {
    bottom: 25vw;
  }
  .contact-text26 {
    font-size: 30px;
  }
  .contact-text28 {
    font-size: 30px;
  }
  .contact-text30 {
    font-size: 30px;
  }
  .contact-text32 {
    font-size: 30px;
  }
  .contact-text34 {
    font-size: 30px;
  }
  .contact-text36 {
    font-size: 30px;
  }
}
 
@media(max-width: 767px) {
  .contact-container10 {
    justify-content: space-between;
  }
  .contact-container14 {
    bottom: 0px;
  }
  .contact-container17 {
    gap: var(--dl-space-space-halfunit);
    align-items: center;
    flex-direction: column;
  }
  .contact-container18 {
    width: 100%;
  }
  .contact-container19 {
    width: 100%;
  }
  .contact-slider {
    width: 80%;
    height: auto;
    display: inline-block;
    position: relative;
  }
  .contact-slider-slide1 {
    display: flex;
    justify-content: center;
  }
  .contact-slider-slide2 {
    display: flex;
    justify-content: center;
  }
  .contact-slider-slide3 {
    display: flex;
    justify-content: center;
  }
  .contact-slider-pagination {
    width: 100%;
  }
  .contact-slider-button-prev {
    fill: #66553a;
    color: #66553a;
  }
  .contact-slider-button-next {
    fill: #66553a;
    color: #66553a;
  }
  .contact-container31 {
    display: none;
  }
}
 
@media(max-width: 479px) {
  .contact-container11 {
    position: relative;
  }
  .contact-container13 {
    width: auto;
    height: 100%;
  }
  .contact-container22 {
    justify-content: flex-start;
  }
  .contact-container23 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-container24 {
    gap: 0;
  }
  .contact-container25 {
    justify-content: flex-start;
  }
  .contact-container26 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-container27 {
    gap: 0;
  }
  .contact-container28 {
    align-self: flex-start;
  }
  .contact-container29 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .contact-container30 {
    gap: 0;
  }
}
