.contact-statement-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.contact-statement-text {
  fill: rgb(102, 85, 58);
  color: rgb(102, 85, 58);
  width: 400px;
  font-size: 30px;
  text-align: center;
  font-family: "Now-Medium";
  margin-bottom: var(--dl-space-space-twounits);
}
 
.contact-statement-link {
  color: rgb(255, 255, 255);
  width: 70%;
  height: var(--dl-size-size-small);
  font-size: 25px;
  text-align: center;
  font-family: "Anton";
  border-radius: var(--dl-radius-radius-buttonradius);
  text-decoration: none;
  background-color: rgb(102, 85, 58);
}
