.navbar6-wrapper {
  display: contents;
}
 
.navbar6-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 100;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
 
.navbar6-navlink1 {
  display: contents;
}
 
.navbar6-image {
  height: 50px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar6-links1 {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar6-link11 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link21 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link31 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link41 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link42 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-burger-menu {
  display: none;
}
 
.navbar6-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(102, 85, 58);
}
 
.navbar6-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar6-navlink2 {
  display: contents;
}
 
.navbar6-logo {
  height: 3rem;
  text-decoration: none;
}
 
.navbar6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar6-icon12 {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.navbar6-links2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar6-link12 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link22 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link32 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link43 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link44 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.navbar6-icon14 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon16 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon18 {
  height: var(--dl-size-size-xsmall);
}
 
.meet-the-team-fragment14 {
  display: contents;
}
 
.meet-the-team-text14 {
  display: inline-block;
}
 
.meet-the-team-fragment12 {
  display: contents;
}
 
.meet-the-team-text12 {
  display: inline-block;
}
 
.meet-the-team-fragment13 {
  display: contents;
}
 
.meet-the-team-text13 {
  display: inline-block;
}
 
.meet-the-team-fragment11 {
  display: contents;
}
 
.meet-the-team-text11 {
  display: inline-block;
}
 
.meet-the-team-fragment10 {
  display: contents;
}
 
.meet-the-team-text10 {
  display: inline-block;
}
 
.navbar6root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name2 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/About/5_hero-200h.png");
}
 
.navbar6root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name4 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
}
 
.navbar6root-class-name5 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/Community Partnerships/8_hero-1500w.png");
}
 
@media(max-width: 991px) {
  .navbar6-link11 {
    font-size: 23px;
  }
  .navbar6-link21 {
    font-size: 23px;
  }
  .navbar6-link31 {
    font-size: 23px;
  }
  .navbar6-link41 {
    font-size: 23px;
  }
  .navbar6-link42 {
    font-size: 23px;
  }
}
 
@media(max-width: 767px) {
  .navbar6-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar6-desktop-menu {
    display: none;
  }
  .navbar6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar6-icon10 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
 
@media(max-width: 479px) {
  .navbar6-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-icon10 {
    fill: #ffffff;
  }
  .navbar6-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-link12 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link22 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link32 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link43 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link44 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6root-class-name1 {
    height: auto;
  }
  .navbar6root-class-name2 {
    position: relative;
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/About/5_hero-200h.png");
    background-position: top right;
  }
  .navbar6root-class-name3 {
    position: static;
    background-color: #000000;
  }
  .navbar6root-class-name4 {
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
  }
  .navbar6root-class-name5 {
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-1500w.png");
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  width: 100%;
  height: 400px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: url("public/ImageStructures/Home/8_footerbg-1500w.png");
}
 
.footer-image {
  width: 100px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-twounits);
}
 
.footer-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  border-color: #ffffff;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  border-bottom-width: 3px;
}
 
.footer-navlink1 {
  display: contents;
}
 
.footer-text10 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink2 {
  display: contents;
}
 
.footer-text11 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink3 {
  display: contents;
}
 
.footer-text12 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink4 {
  display: contents;
}
 
.footer-text13 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink5 {
  display: contents;
}
 
.footer-text14 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-navlink6 {
  display: contents;
}
 
.footer-text15 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  font-style: normal;
  font-family: "Anton";
  font-weight: 400;
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.footer-text16 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  text-align: center;
  font-family: "Anton";
  font-weight: 400;
}
 
.meet-the-team-fragment19 {
  display: contents;
}
 
.meet-the-team-text21 {
  display: inline-block;
}
 
.meet-the-team-fragment18 {
  display: contents;
}
 
.meet-the-team-text20 {
  display: inline-block;
}
 
.meet-the-team-fragment16 {
  display: contents;
}
 
.meet-the-team-text18 {
  display: inline-block;
}
 
.meet-the-team-fragment17 {
  display: contents;
}
 
.meet-the-team-text19 {
  display: inline-block;
}
 
.meet-the-team-fragment21 {
  display: contents;
}
 
.meet-the-team-text23 {
  display: inline-block;
}
 
.meet-the-team-fragment15 {
  display: contents;
}
 
.meet-the-team-text17 {
  display: inline-block;
}
 
.meet-the-team-fragment20 {
  display: contents;
}
 
.meet-the-team-text22 {
  display: inline-block;
}
 
.footerroot-class-name {
  left: 0px;
  bottom: 0px;
  position: relative;
}
 

 

 

 

 

 
@media(max-width: 991px) {
  .footer-container2 {
    gap: var(--dl-space-space-unit);
  }
  .footer-text10 {
    font-size: 3vw;
  }
  .footer-text11 {
    font-size: 3vw;
  }
  .footer-text12 {
    font-size: 3vw;
  }
  .footer-text13 {
    font-size: 3vw;
  }
  .footer-text14 {
    font-size: 3vw;
  }
  .footer-text15 {
    font-size: 3vw;
  }
}
 
@media(max-width: 767px) {
  .footer-container2 {
    gap: var(--dl-space-space-halfunit);
    width: 70%;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .footer-text10 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text11 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text12 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text14 {
    font-size: 25px;
    text-align: center;
  }
  .footer-text15 {
    font-size: 25px;
    text-align: center;
  }
}
 
@media(max-width: 479px) {
  .footer-container1 {
    padding-top: var(--dl-space-space-threeunits);
  }
  .footer-container2 {
    width: 80%;
    align-self: center;
  }
  .footer-text10 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text11 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text12 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text13 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text14 {
    font-size: 23px;
    text-align: center;
  }
  .footer-text15 {
    font-size: 23px;
    text-align: center;
  }
}

.meet-the-team-container10 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/ImageStructures/CommunitySessions/3_eventsbackground-1500w.png");
}
 
.meet-the-team-fragment10 {
  display: contents;
}
 
.meet-the-team-text10 {
  display: inline-block;
}
 
.meet-the-team-fragment11 {
  display: contents;
}
 
.meet-the-team-text11 {
  display: inline-block;
}
 
.meet-the-team-fragment12 {
  display: contents;
}
 
.meet-the-team-text12 {
  display: inline-block;
}
 
.meet-the-team-fragment13 {
  display: contents;
}
 
.meet-the-team-text13 {
  display: inline-block;
}
 
.meet-the-team-fragment14 {
  display: contents;
}
 
.meet-the-team-text14 {
  display: inline-block;
}
 
.meet-the-team-container11 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.meet-the-team-background {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-text15 {
  top: 35%;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  font-size: 9vw;
  text-align: center;
  font-family: "MADEGoodTimeGrotesk";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-transform: uppercase;
}
 
.meet-the-team-text16 {
  color: #66553a;
  font-size: 6vw;
  font-family: "MADEGoodTimeGrotesk";
}
 
.meet-the-team-container12 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.meet-the-team-container13 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.meet-the-team-container14 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image1 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-container15 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image2 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-container16 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image3 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-container17 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  justify-content: center;
}
 
.meet-the-team-container18 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image4 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-container19 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image5 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-container20 {
  width: 32%;
  display: flex;
  position: relative;
  justify-content: center;
}
 
.meet-the-team-image6 {
  width: 100%;
  object-fit: cover;
}
 
.meet-the-team-fragment15 {
  display: contents;
}
 
.meet-the-team-text17 {
  display: inline-block;
}
 
.meet-the-team-fragment16 {
  display: contents;
}
 
.meet-the-team-text18 {
  display: inline-block;
}
 
.meet-the-team-fragment17 {
  display: contents;
}
 
.meet-the-team-text19 {
  display: inline-block;
}
 
.meet-the-team-fragment18 {
  display: contents;
}
 
.meet-the-team-text20 {
  display: inline-block;
}
 
.meet-the-team-fragment19 {
  display: contents;
}
 
.meet-the-team-text21 {
  display: inline-block;
}
 
.meet-the-team-fragment20 {
  display: contents;
}
 
.meet-the-team-text22 {
  display: inline-block;
}
 
.meet-the-team-fragment21 {
  display: contents;
}
 
.meet-the-team-text23 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .meet-the-team-image1 {
    width: 100%;
  }
  .meet-the-team-image2 {
    width: 100%;
  }
  .meet-the-team-image3 {
    width: 100%;
  }
  .meet-the-team-image4 {
    width: 100%;
  }
  .meet-the-team-image5 {
    width: 100%;
  }
  .meet-the-team-image6 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .meet-the-team-text15 {
    top: 35%;
  }
  .meet-the-team-container13 {
    align-items: center;
    flex-direction: column;
  }
  .meet-the-team-container14 {
    width: 75%;
  }
  .meet-the-team-container15 {
    width: 75%;
  }
  .meet-the-team-container16 {
    width: 75%;
  }
  .meet-the-team-container17 {
    align-items: center;
    flex-direction: column;
  }
  .meet-the-team-container18 {
    width: 75%;
  }
  .meet-the-team-container19 {
    width: 75%;
  }
  .meet-the-team-container20 {
    width: 75%;
  }
}
 
@media(max-width: 479px) {
  .meet-the-team-text15 {
    top: 30%;
  }
}
