.navbar6-container {
  width: 100%;
  display: flex;
  z-index: 100;
  position: relative;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6-navbar-interactive {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  z-index: 100;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
 
.navbar6-navlink1 {
  display: contents;
}
 
.navbar6-image {
  height: 50px;
  object-fit: cover;
  text-decoration: none;
}
 
.navbar6-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar6-links1 {
  flex: 1;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
 
.navbar6-link11 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link21 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link31 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link41 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link42 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-burger-menu {
  display: none;
}
 
.navbar6-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(102, 85, 58);
}
 
.navbar6-nav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
 
.navbar6-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
.navbar6-navlink2 {
  display: contents;
}
 
.navbar6-logo {
  height: 3rem;
  text-decoration: none;
}
 
.navbar6-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar6-icon12 {
  fill: #ffffff;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
 
.navbar6-links2 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
 
.navbar6-link12 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link22 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link32 {
  color: #ffffff;
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link43 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-link44 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: "Anton";
  text-shadow: 0.5px 0px 3px black,  /* Right */   -0.5px 0px 3px black, /* Left */   0px 0.5px 3px black,  /* Bottom */   0px -0.5px 3px black; /* Top */;
  text-decoration: none;
}
 
.navbar6-icon-group {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
 
.navbar6-icon14 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon16 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-icon18 {
  height: var(--dl-size-size-xsmall);
}
 
.navbar6-fragment1 {
  display: contents;
}
 
.navbar6-text1 {
  display: inline-block;
}
 
.navbar6-fragment2 {
  display: contents;
}
 
.navbar6-text2 {
  display: inline-block;
}
 
.navbar6-fragment3 {
  display: contents;
}
 
.navbar6-text3 {
  display: inline-block;
}
 
.navbar6-fragment4 {
  display: contents;
}
 
.navbar6-text4 {
  display: inline-block;
}
 
.navbar6-fragment5 {
  display: contents;
}
 
.navbar6-text5 {
  display: inline-block;
}
 
.navbar6root-class-name {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
 
.navbar6root-class-name1 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name2 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/About/5_hero-200h.png");
}
 
.navbar6root-class-name3 {
  top: 0px;
  left: 0px;
  position: absolute;
}
 
.navbar6root-class-name4 {
  top: 0px;
  left: 0px;
  position: relative;
  background-size: cover;
  background-color: transparent;
  background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
}
 
.navbar6root-class-name5 {
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.35);
}
 
@media(max-width: 991px) {
  .navbar6-link11 {
    font-size: 23px;
  }
  .navbar6-link21 {
    font-size: 23px;
  }
  .navbar6-link31 {
    font-size: 23px;
  }
  .navbar6-link41 {
    font-size: 23px;
  }
  .navbar6-link42 {
    font-size: 23px;
  }
}
 
@media(max-width: 767px) {
  .navbar6-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar6-desktop-menu {
    display: none;
  }
  .navbar6-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar6-icon10 {
    fill: #D9D9D9;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
}
 
@media(max-width: 479px) {
  .navbar6-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-icon10 {
    fill: #ffffff;
  }
  .navbar6-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
  .navbar6-link12 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link22 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link32 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link43 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6-link44 {
    color: #ffffff;
    font-size: 30px;
  }
  .navbar6root-class-name2 {
    position: relative;
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/About/5_hero-200h.png");
    background-position: top right;
  }
  .navbar6root-class-name3 {
    position: static;
    background-color: #000000;
  }
  .navbar6root-class-name4 {
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-200h.png");
  }
  .navbar6root-class-name5 {
    position: relative;
    background-size: cover;
    background-color: transparent;
    background-image: url("public/ImageStructures/Community Partnerships/8_hero-1500w.png");
  }
}
